/* Font importato  */

@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&family=Varela+Round&display=swap");

/* Banner top  */
.banner_container {
  text-align: center;
  margin: 0% auto;
  width: 98vw;
  height: 20vh;
  background: rgb(45, 186, 230);
}
.banner_top1 {
  position: absolute;
  clip: rect(0px, 550px, 125px, 0px);
  width: 480px;
  bottom: 370px;
  left: 5px;
}

.banner_top2 {
  position: absolute;
  clip: rect(0px, 550px, 125px, 0px);
  width: 480px;
  bottom: 370px;
  left: 450px;
}
.banner_top3 {
  position: absolute;
  clip: rect(0px, 550px, 125px, 0px);
  width: 480px;
  bottom: 370px;
  left: 865px;
}
/* Logo */

#logo_container {
  position: relative;
  z-index: 1;
}

#logo {
    position: absolute;
    width: 250px;
    top: 50px;
    left: 5px;
}
/* Titolo principale */
h1 {
  font-family: "Roboto", sans-serif;
  font-family: "Ubuntu", sans-serif;
  font-weight: bolder;
  font-size: 70px;
}

/* Scritto da: Testo grigio */
.greytext {
  color: gray;
}
/* Scritto da: font-size */
.firma_top {
  font-size: 20px;
  font-weight: bolder;
}

/* Scritto da: data */
#data_top {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
}

#boo_color {
  color: rgb(54, 97, 238);
}

/* Didascalia foto */
.didascalia {
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
}

/* Padding lista */
ul {
  padding: 15px;
}

/* Testo evidenziato */
.giallo {
  background-color: #eef121;
}

/* Tabella */
.theader {
  width: 500px;
  height: 20px;
  background: rgb(62, 122, 233);
  color: white;
  text-align: left;
}

.row1 {
  width: 500px;
  height: 20px;
  background: rgb(137, 197, 236);
  color: black;
  text-align: left;
}

.row2 {
  width: 500px;
  height: 20px;
  background: rgb(255, 255, 255);
  color: black;
  text-align: left;
}

/* Banner bottom */

h3 {
  padding-top: 20px;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
}

.banner_bottom1 {
  margin-bottom: 10px;
}

.banner_bottom2 {
  margin-bottom: 30px;
}
